*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#d9c8aa;

    min-height:100vh;

    display:flex;

    justify-content:center;

    padding:20px;

}

.container{

    width:100%;

    max-width:900px;

    background:#f5ecd9;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

header{

    background:#284b63;

    color:white;

    text-align:center;

    padding:30px;

}

header h1{

    font-size:40px;

    letter-spacing:2px;

}

header p{

    font-size:22px;

    color:#f4d35e;

}

#coffeeContainer{

    padding:20px;

}

.card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    padding:15px;

    border-radius:15px;

    margin-bottom:20px;

    box-shadow:0 5px 10px rgba(0,0,0,.1);

    transition:.3s;

}

.card:hover{

    transform:translateY(-4px);

}

.left{

    display:flex;

    gap:15px;

    align-items:center;

}

.left img{

    width:80px;

    height:80px;

    object-fit:cover;

    border-radius:10px;

}

.info h2{

    font-size:24px;

}

.info p{

    color:gray;

    margin-top:5px;

}

.vote{

    font-size:22px;

    font-weight:bold;

    margin-top:10px;

}

.right button{

    width:60px;

    height:60px;

    border:none;

    border-radius:12px;

    background:#2196f3;

    color:white;

    font-size:34px;

    cursor:pointer;

    transition:.3s;

}

.right button:hover{

    transform:scale(1.08);

    background:#1976d2;

}

@media(max-width:700px){

.card{

flex-direction:column;

gap:20px;

align-items:flex-start;

}

.right{

width:100%;

display:flex;

justify-content:flex-end;

}

}